.cv-container {
  border: solid 4px black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  max-width: 700px;
}

.cv-container h3 {
  color: green;
}

.cv-container h2 {
  color: blue;
}

.cv-container .div {
  margin-bottom: 5px;
}

hr {
  border: 1px solid black;
  max-width: 500px;
  margin: 0;
}